.main {
  margin-top: 100px;
}

.logo-img {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-input {
  width: 400px;
  height: 24px;
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 8px 16px;
  background: #dfe1e5;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 4px;
  margin-left: 4px;
}
